{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'assetsprofile/css/main.css' %}" />
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="imageprofile/png" href="{% static 'favicon.ico' %}">
	</head>
	<body>

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="{% static 'imagesprofile/avatar.jpg' %}" alt="" /></span>
							<h1 id="title">{{ username }}</h1>
							<h6> Model: {{ carModel }}</h6>
							<h6> Color: {{ carColor }}</h6>
							<h6> Number: {{ carNumber }}</h6>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Intro</span></a></li>
								<li><a href="#activities" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Activities</span></a></li>
								<li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">About</span></a></li>
								<li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2>Automatic Garage Is SMART , SAFE And FAST </h2>
							</header>

							<footer>
								<a href="#activities" class="button scrolly">Enter Car</a>
								<a href="#activities" class="button scrolly">Out Car</a>
							</footer>

						</div>
					</section>

				<!-- Portfolio -->
					<section id="activities" class="two">
						<div class="container">

							<header>
								<h2>Activities</h2>
							</header>

							<p>Remember The Happy Times That Brought Us Together</p>

							<div>
								<article class="item">
											<a href="#" class="image fit"><img src="{% static 'imagesprofile/pic02.jpg' %}" alt="" /></a>
											<header>
												<table>
													<tr>
														<td>
															Enter Data
														</td>
														<td>
															Outer Data
														</td>
														<td>
															Cost
														</td>
													</tr>
													{% for item in activities %}
														<tr>
															<td>
																{{ item.enter_Date }}
															</td>
															<td>
																{{ item.out_Date }}
															</td>
															<td>
																{{ item.cost }} $
															</td>
														</tr>
													{% endfor %}
												</table>
											</header>
										</article>
							</div>


						</div>

					</section>

				<!-- About -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>About</h2>
							</header>

							<a href="#" class="image featured"><img src="{% static 'imagesprofile/pic08.jpg' %}" alt="" /></a>

							<p>We are AIET students and we built webside for our graduation project to let our Garage System more SMART</p>

						</div>
					</section>

				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>
							<form method="post" action="#">
								<div class="row">
									<div class="6u 12u$(mobile)"><input type="text" name="name" placeholder="Name" /></div>
									<div class="6u$ 12u$(mobile)"><input type="text" name="email" placeholder="Email" /></div>
									<div class="12u$">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
									<div class="12u$">
										<input type="submit" value="Send Message" />
									</div>
								</div>
							</form>

						</div>
					</section>

			</div>

		<!-- Footer -->
			<div id="footer">

			</div>

		<!-- Scripts -->
			<script src="{% static 'assetsprofile/js/jquery.min.js' %}"></script>
			<script src="{% static 'assetsprofile/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assetsprofile/js/jquery.scrollzer.min.js' %}"></script>
			<script src="{% static 'assetsprofile/js/skel.min.js' %}"></script>
			<script src="{% static 'assetsprofile/js/util.js' %}"></script>
			<script src="{% static 'assetsprofile/js/main.js' %}"></script>

	</body>
</html>